<div id="footer">
  <div>
    <ul class="navigation">
      <li><a href="/">Home</a></li>
      <li><a href="/self-assessment.html">Self-Assessment</a></li>
      <li><a href="/code-review.html">Code Review</a></li>
      <li><a href="/artifact-software.html">Software</a></li>
      <li><a href="/artifact-algorithms.html">Algorithms</a></li>
      <li><a href="/artifact-databases.html">Databases</a></li>
    </ul>

    <div id="connect">
      <a href="http://pinterest.com/fwtemplates/" target="_blank" class="pinterest"></a>
      <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a>
      <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
      <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
    </div>
  </div>

  <p>© 2026 Logan Hall CS 499 Portfolio. All Rights Reserved</p>
</div>
