<div id="header">
  <div id="logo">
    <a href="/"><img src="/images/logo.png" alt="LOGO" height="100" width="200"></a>
  </div>

  <div id="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/self-assessment.html">Self-Assessment</a></li>
      <li><a href="/code-review.html">Code Review</a></li>
      <li><a href="/artifact-software.html">Software</a></li>
      <li><a href="/artifact-algorithms.html">Algorithms</a></li>
      <li><a href="/artifact-databases.html">Databases</a></li>
      <li><a href="/travel">Travel</a></li>
    </ul>
  </div>
</div>
