<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
  <div id="background">
    <div id="page">
      {{> header}}

      <div id="contents">
        <div class="box">
          <div>
            <div class="body">
              <h1>Travel News</h1>
              <p>Stay updated with the latest travel tips, destination guides, and seasonal trends.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{> footer}}
  </div>
</body>
</html>
